<div class="container">
  <h1>Sign In</h1>
  <%= form_tag sessions_path, method: 'post' do %>
    <div class="field">
      <%= text_field_tag :email, params[:email], placeholder: 'Email' %>
    </div>
    <div class="field">
      <%= password_field_tag :password, nil, placeholder: 'Password' %>
    </div>
    <%= submit_tag 'Sign In', data: {disable_with: 'Signing In...'}, class: 'btn btn-success' %>
  <% end %>
</div>