<%= render 'events/header' %>

<div class="ui container">
  <div class="ui two cards">  
    <% @events.each do |e| %>
      <%= render partial: 'card', locals: {event: e} %>
    <% end %>
  </div>
</div>