@import "semantic";
@import "bootstrap";
@import "font-awesome";
@import "card";

body {
  font-family: 'Helvetica';
  background-image: url("bg.png");
  background-repeat: repeat;
}
.btn.btn-danger {
  background-color: rgb(216, 87, 66);
  border: 2px solid rgb(241, 112, 91);
}