<div class="ui large grey inverted menu">
  <a class="ui active item" href=<%= root_path %> >Coder Ticket</a>
  <div class="right menu">
    <a class="item">Sign In</a>
    <a class="item">Sign Up</a>
  </div>
</div>